package-db: /home/chris/Projects/me/amelie/cabal-dev/packages-6.12.3.conf
remote-repo: hackage.haskell.org:http://hackage.haskell.org/packages/archive
remote-repo-cache: /home/chris/.cabal/packages
local-repo: /home/chris/Projects/me/amelie/cabal-dev/packages
user-install: False
build-summary: /home/chris/Projects/me/amelie/cabal-dev/logs/build.log
remote-build-reporting: anonymous
install-dirs user
  prefix: /home/chris/Projects/me/amelie/cabal-dev/
install-dirs global
  prefix: /home/chris/Projects/me/amelie/cabal-dev/